
/* Define default spinner */
.ui-icon-loading {
	background: url("../libs/jquerymobile/1.4.5/images/ajax-loader.gif") repeat scroll 0 0 / 46px 46px transparent!important;
}
/* mobilecontainer */
.ui-content.sales_mobilecontainer {
	padding: 15px 15px 15px 15px;
}
/* mobilegrid_2 */
.sales_mobilegrid_2 {
	height: auto;
	width:100%;
	margin: 4px 0px 4px 0px;
	border-collapse: collapse;
	table-layout: fixed;
}
.sales_mobilegrid_2_wrapper {

}
.sales_mobilegrid_2 > tr > td {
	vertical-align: top;
}
.sales_mobilegrid_2_row_0, .sales_mobilegrid_2_row_0 > td {
	height: 30px
}
/* mobilegridcell_3 */
.sales_mobilegridcell_3 {
	height:30px !important;
	width:auto;
	padding: 2px 2px 2px 2px;
}
.sales_mobilegridcell_3 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* mobilelabel_8 */
.sales_mobilelabel_8 {
	text-decoration: none; font-weight: bold; text-align: center; font-family: Helvetica; font-size: 12px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilegridcell_4 */
.sales_mobilegridcell_4 {
	height:30px !important;
	width:auto;
	padding: 2px 2px 2px 2px;
}
.sales_mobilegridcell_4 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* mobilelabel_7 */
.sales_mobilelabel_7 {
	text-decoration: none; font-weight: bold; text-align: center; font-family: Helvetica; font-size: 12px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilegridcell_9 */
.sales_mobilegridcell_9 {
	height:30px !important;
	width:auto;
	padding: 2px 2px 2px 2px;
}
.sales_mobilegridcell_9 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* mobilelabel_11 */
.sales_mobilelabel_11 {
	text-decoration: none; font-weight: bold; text-align: center; font-family: Helvetica; font-size: 12px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilegridcell_28 */
.sales_mobilegridcell_28 {
	height:30px !important;
	width:auto;
	padding: 2px 2px 2px 2px;
}
.sales_mobilegridcell_28 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* mobilelabel_30 */
.sales_mobilelabel_30 {
	text-decoration: none; font-weight: bold; text-align: center; font-family: Helvetica; font-size: 12px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilegrid_12 */
.sales_mobilegrid_12 {
	height: auto;
	width:100%;
	margin: 4px 0px 4px 0px;
	border-collapse: collapse;
	table-layout: fixed;
}
.sales_mobilegrid_12_wrapper {

}
.sales_mobilegrid_12 > tr > td {
	vertical-align: top;
}
.sales_mobilegrid_12_row_0, .sales_mobilegrid_12_row_0 > td {
	height: 30px
}
/* mobilegridcell_13 */
.sales_mobilegridcell_13 {
	height:30px !important;
	width:auto;
	padding: 2px 2px 2px 2px;
}
.sales_mobilegridcell_13 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* lblPlace */
.sales_lblPlace {
	text-decoration: none; font-weight: normal; text-align: center; font-family: Helvetica; font-size: 12px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilegridcell_19 */
.sales_mobilegridcell_19 {
	height:30px !important;
	width:auto;
	padding: 2px 2px 2px 2px;
}
.sales_mobilegridcell_19 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* lblSeatSold */
.sales_lblSeatSold {
	text-decoration: none; font-weight: normal; text-align: center; font-family: Helvetica; font-size: 12px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilegridcell_20 */
.sales_mobilegridcell_20 {
	height:30px !important;
	width:auto;
	padding: 2px 2px 2px 2px;
}
.sales_mobilegridcell_20 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* lblAmount */
.sales_lblAmount {
	text-decoration: none; font-weight: normal; text-align: center; font-family: Helvetica; font-size: 12px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilegridcell_29 */
.sales_mobilegridcell_29 {
	height:30px !important;
	width:auto;
	padding: 2px 2px 2px 2px;
}
.sales_mobilegridcell_29 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* lblConfirmed */
.sales_lblConfirmed {
	text-decoration: none; font-weight: normal; text-align: center; font-family: Helvetica; font-size: 12px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilefooter */
.sales_mobilefooter {
	min-height:38px;
}